<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post3.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post3.content %>
</p>

<%= link_to 'Edit', edit_post3_path(@post3) %> |
<%= link_to 'Back', post3s_path %>
