<p id="notice"><%= notice %></p>

<h1>Listing Post4s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post4s.each do |post4| %>
      <tr>
        <td><%= post4.title %></td>
        <td><%= post4.content %></td>
        <td><%= link_to 'Show', post4 %></td>
        <td><%= link_to 'Edit', edit_post4_path(post4) %></td>
        <td><%= link_to 'Destroy', post4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post4', new_post4_path %>
