<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post4.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post4.content %>
</p>

<%= link_to 'Edit', edit_post4_path(@post4) %> |
<%= link_to 'Back', post4s_path %>
